{{outlet}}
<div class="jumbo">
	<div class="right tomster"></div>
	<h2>About Relax Rentals</h2>
	<p>
	The Relax Rentals website is a delightful project created to explore Ember.js. By building a property rental site, we can simultaneously imagine travelling to exciting new places AND building Ember applications!
	</p>
{{#link-to 'contact' class="button"}}
Contact Us!
{{/link-to}}
</div>
