{{outlet}}
<div class="jumbo">
        <div class="right tomster"></div>
        <h2>Contact Us</h2>
        <p>
        Relax Rentals would love to help you choose a destination or answer any questions you may have.
        </p>
	<p>
	<h3>Relax Rentals Headquarters</h3>
		<address>
		123 Main Street
		New York, NY 10001
		</address>
		<p>
		call: 22.456.5828
		</p>
		<p>
		email: <a href="mailto:relaxrentals@ember.js">relaxrentals@ember.js</a>
		</p>
	</p>
{{#link-to 'about' class="button"}}
About Us!
{{/link-to}}
</div>
