<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Welcome!</h2>
	<h3>Find a Place to Relax...</h3>
	<br>
	<p>
	We hope you find exactly what you're looking for in a place to stay.
	</p>
	<br>
</div>
{{outlet}}
